*.wts text eol=crlf
*.slk text eol=crlf

*.j text eol=crlf
*.j linguist-language=TypeScript
./mapfiles/* text eol=crlf
./scripts/* text eol=lf
/src/lib/core/blizzard.d.ts text eol=crlf
/src/lib/core/common.d.ts text eol=crlf
